
.bg{
    background: url("https://wallpapercave.com/wp/ThAOKju.jpg");
background-repeat: no-repeat;
background-position: unset ;
background-size: cover;


}
.aa{
    color: rgb(19, 98, 245);
}

.bgnav{
    background: rgba(117, 125, 126, 0.5);
}
.lgname{
    font-size: xx-large;
    
}
.modalbg{
    background: linear-gradient(to left,rgb(243, 243, 159), rgb(141, 226, 117));
}
.ab{
   
    
    font-size: 25px;
    font-weight: bold;
    
    text-shadow: 1px 2px 2px rgb(244, 246, 247);

}
.bg2
{
    background: linear-gradient(to right,rgba(240, 242, 239, 0.4), rgba(233, 236, 232, 0.4)),url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg");
    background-size: cover;
}
.bg3{
    background-color: black;
}
.formbg{
    background-color: white;
}

